<!DOCTYPE html>
<html>
<head>
  <title>Avaloooooon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <h3 class="navbar-brand" >Welcome!</h3>
          </div>
          <% if current_user %>
          <h3 class="navbar-brand" ><%=current_user.name %></h3>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= yield :bar %></li>
            <li>
				<a href="/">Quit</a>
            </li>
          </ul>
          <% end %>
        </div>
    </nav>

    <%= yield %>

	<div class="row">
	  <% if flash[:errors] %>
		  <ul>
			  <% flash[:errors].each do |e| %>
			    <li><%= e %></li>
			  <% end %>
		  </ul>
	  <% end %>
    </div>
</div>
</body>
</html>
